@tailwind base;
@tailwind components;
@tailwind utilities;


body{
width: 100%;
box-sizing: border-box;
font-family:  ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-style:normal;
color: black;
}
.container{
  width:85%;
  margin: auto;
}

/* swaper home*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.group:hover .group-2{
  transition: 0.3s;
  visibility: visible;
}